.link-input {
  list-style: none;
  padding: 20px;
  background-color: hsl(222, 13%, 16%);
  background-image: none;
  background-size: 400%;
  border-radius: 7px;
  background-position: 100%;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  text-align: center;
}

main {
  width: 100%;
  margin: auto;
  padding: 1rem;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

.instructions {
  text-align: center;
  border: 1px solid rgba(var(--accent-light), 25%);
  background: rgba(var(--accent-light), 25%);
  padding: 1.5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

span {
  color: #f3ec78;
}

.logoGame {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.start-button {
  background-color: #f3ec78;
  width: 200px;
  height: 150px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  font-size: inherit;
}

.start-button:hover {
  border-color: #ffffff;
}

.play {
  color: #f3ec78;
  width: 30px;
}

.user-select-none {
  user-select: none;
}

textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid #f3ec78;
  color: #ffffff;
  background-color: #464352;
}

.title-game {
  margin-bottom: 10px !important;
}

.title-autor {
  color: rgb(230, 196, 196);
}

.author {
  color: rgba(191, 194, 194, 0.8);
}

.contentAutor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-bottom: 20px;
}

.title-autor {
  padding-right: 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.tooltip-trigger {
  margin-left: 5px;
  cursor: pointer;
  font-size: 20px;
}
/* Effects */

@keyframes neon-border {
  0%,
  100% {
    border-color: #f3ec78;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgba(243, 239, 25, 0.8),
      0 0 20px rgba(252, 228, 13, 0.8), 0 0 40px #f3ec78;
  }
  50% {
    border-color: #f3ec78;
    box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 20px rgba(201, 198, 21, 0.8),
      0 0 20px rgba(224, 204, 23, 0.8), 0 0 40px #b4ae39;
  }
}

.neon-border {
  border: 4px solid;
  border-radius: 12px;
  animation: neon-border 2s infinite alternate;
}

@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  .start-button {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 352px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: medium;
  }
  p {
    font-size: 1rem;
  }
  .start-button {
    width: 150px;
    height: 100px;
  }
  textarea {
    font-size: small;
  }
}

@media (max-width: 372) {
  .title-autor {
    flex-direction: column;
    font-size: small;
  }
}
