---
import Layout from "../layouts/Layout.astro";
import Phrase from "../components/Phrase";
import "../../index.css";

const handleLoad = () => {
  window.addEventListener("load", () => {
    console.log("La página ha cargado");
  });
};
---

<Layout title="Write Phrase">
  <main>
    <img class="logoGame" src="/Game Write PNG.svg" alt="Game Write" />
    <h1>Game <span>Write Phrase</span></h1>
    <div class="content">
      <Phrase client:load/>
    </div>
  </main>
</Layout>
