---
import Layout from "../layouts/Layout.astro";
import "../../index.css";
---

<Layout title="Write Phrase">
  <main class="grid p-5">
    <section class="m-2">
      <img class="logoGame" src="/GameWritePNG.svg" alt="Game Write" />
      <h1>Game <span>Write Phrase</span></h1>
    </section>
    <section class="m-5">
      <button type="submit" id="startButton" class="start-button neon-border">
        <img class="play" src="/play.svg" alt="Play" />
      </button>
    </section>
  </main>

  <script>
    import { handleClick } from "../components/startButton.ts";
    window.onload = handleClick;
  </script>
</Layout>
