---
import Layout from '../layouts/Layout.astro';
import Input from '../components/Input.astro';
---

<Layout title="Write Phrase">
	<main>
		<h1>Game <span >Write Phrase</span></h1>
		<p class="instructions">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit repellat ullam corporis impedit neque dignissimos animi sapiente recusandae autem. Dolorum eveniet nobis et voluptatem nisi culpa cumque aperiam accusamus!
		</p>
		<Input title=''/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		color: rgb(0, 0, 0);
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background-image: linear-gradient(45deg, #f3ec78 90%, transparent 10%);		
		padding: 1.5rem;
		border-radius: 8px;
	}
	span{
		color: #f3ec78;
	}
</style>
