---
import Layout from "../layouts/Layout.astro";
import "../../index.css";
---

<Layout title="Write Phrase Start">
  <main>
    <img class="logo" src="/Game Write PNG.svg" alt="Game Write" />
    <h1>Game <span>Write Phrase</span></h1>
    <button type="submit" id="startButton" class="start-button">
      <img class="play" src="/play.svg" alt="Play" />
    </button>
  </main>

  <script>
    const handleClick = () => {
      const startButton = document.getElementById("startButton");
      startButton.addEventListener("click", () => {
        window.location.href = "/game";
      });
    };
    
    window.onload = () => {
      handleClick();
    };
  </script>
</Layout>
