<footer>
      <p>© 2024 Todos los derechos reservados para Game Write Phrase <span>Desarrollado con Astro by CODESYS INC</span></p>
</footer>

<style>
    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  
    .footer-content p {
      margin: 5px 0;
    }
</style>