<footer>
    <div class="footer-content">
      <p>© 2024 Todos los derechos reservados para Game Write Phrase</p>
      <p>Desarrollado con Astro by CODESYS INC</p>
    </div>
  </footer>
</astro>

<style>
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(var(--accent-light), 25%);
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }
  
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-content p {
      margin: 5px 0;
    }
  </style>